div {
    background-color: white;
    width: 300px;
    padding: 25px;
    margin: 0px;
}

/* #flag1 {
    background-color: red;
    width: 300px;
}

#flag2 {
    background-color: blue;
    width: 300px;
}

#flag3 {
    background-color: orange;
    width: 300px;
} */